{% extends "sqladmin/base.html" %}
{% block body %}
<div class="d-flex align-items-center justify-content-center vh-100">
  {# <form class="col-lg-6 col-md-6 card card-md" 
        hx-post="{{ url_for('admin:login') }}"
        hx-trigger="submit"
        hx-push-url="true"
        hx-target="body"
        hx-swap="outerHTML"
        data-auth="false"> #}
  <form class="col-lg-6 col-md-6 card card-md" 
        hx-post="{{ url_for('admin:login') }}"
        hx-trigger="submit"
        hx-target="#login-message"
        hx-swap="none"
        data-auth="false"
        hx-ext="json-enc">

    <div class="card-body">
      <h2 class="card-title text-center mb-4">Login to {{ admin.title }}</h2>
      
      <!-- ログインメッセージエリア -->
      <div id="login-message">
        {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endif %}
      </div>

      <div class="mb-3">
        <label class="form-label">Username</label>
        <input name="username" 
               type="text" 
               class="form-control {% if error %}is-invalid{% endif %}" 
               placeholder="Enter username" 
               autocomplete="off"
               required>
      </div>

      <div class="mb-2">
        <label class="form-label">Password</label>
        <div class="input-group input-group-flat">
          <input name="password" 
                 type="password" 
                 class="form-control {% if error %}is-invalid{% endif %}" 
                 placeholder="Password" 
                 autocomplete="off"
                 required>
        </div>
      </div>
      <input type="hidden" name="next" value="{{ next_url }}" />

      <div class="form-footer">
        <button type="submit" class="btn btn-primary w-100">
          <span class="htmx-indicator">
            <span class="spinner-border spinner-border-sm me-2" role="status"></span>
            Loading...
          </span>
          <span class="htmx-request-hide">Login</span>
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
