.table thead th {
    text-transform: none;
}

a[hx-get],
a[hx-post],
a[hx-delete] {
    color: rgba(var(--tblr-link-color-rgb), var(--tblr-link-opacity, 1));
}

.pagination .page-link:not(.disabled),
.action-link {
    cursor: pointer;
}

/* 無効化されたリンク */
.pagination .disabled .page-link,
.pagination .page-link.disabled {
    cursor: not-allowed;
}

/* ロード中のリンク */
.htmx-request .page-link {
    cursor: wait;
}

a.btn {
    color: aliceblue;
}

.htmx-request .htmx-indicator {
    display: inline-block;
}

.htmx-indicator {
    display: none;
}

.validation-details {
    font-size: 0.9rem;
    padding-left: 1rem;
}

.field-error {
    padding: 0.5rem;
    border-left: 3px solid #dc3545;
    background-color: rgba(220, 53, 69, 0.05);
}

.database-error {
    padding: 0.5rem;
    background-color: rgba(220, 53, 69, 0.05);
}

.alert ul {
    margin-bottom: 0.5rem;
}

.text-muted {
    color: #6c757d !important;
}

#form-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
