.table thead th {
    text-transform: none;
}

a[hx-get],
a[hx-post],
a[hx-delete] {
    color: rgba(var(--tblr-link-color-rgb), var(--tblr-link-opacity, 1));
}

.pagination .page-link:not(.disabled),
.action-link {
    cursor: pointer;
}

/* 無効化されたリンク */
.pagination .disabled .page-link,
.pagination .page-link.disabled {
    cursor: not-allowed;
}

/* ロード中のリンク */
.htmx-request .page-link {
    cursor: wait;
}

a.btn {
    color: aliceblue;
}

.htmx-request .htmx-indicator {
    display: inline-block;
}

.htmx-indicator {
    display: none;
}
