{# {% extends "sqladmin/layout.html" %} #}
{# {% block content %} #}
{% from 'sqladmin/_macros.html' import render_form_fields %}
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">New {{ model_view.name }}</h3>
    </div>
    <div class="card-body border-bottom py-3">
      <form hx-post="{{ url_for('admin:create', identity=model_view.identity) }}"
            hx-target="{{ form_opts.get('target', '#main-container') }}"
            hx-indicator="#form-loading"
            class="needs-validation"
            hx-on::after-request="
              if(event.detail.failed) {
                const container = document.getElementById('error-container');
                container.innerHTML = event.detail.xhr.response;
              }
            "
            {% if form_opts.get('swap_oob', False) %}hx-swap-oob="true"{% endif %}>
        
        <div id="error-container">
            {% include "sqladmin/partials/_error_container.html" %}
        </div>

        <fieldset class="form-fieldset">
          {{ render_form_fields(form, form_opts=form_opts) }}
          <div id="form-loading"
              class="htmx-indicator spinner-border text-primary"
              role="status"
              style="display: none;">
            <span class="visually-hidden">Submitting...</span>
          </div>
        </fieldset>
        <div class="row">
          <div class="col-md-2">
            <a href="{{ url_for('admin:list', identity=model_view.identity) }}" class="btn">
              Cancel
            </a>
          </div>
          <div class="col-md-6">
            <div class="btn-group flex-wrap" data-toggle="buttons">
              <button type="button" 
                      class="btn"
                      hx-post="{{ url_for('admin:create', identity=model_view.identity) }}"
                      hx-include="closest form"
                      hx-target="#main-container"
                      hx-swap="outerHTML"
                      hx-vals='{"save": "Save"}'>
                Save
              </button>
              <button type="button" 
                      class="btn"
                      hx-post="{{ url_for('admin:create', identity=model_view.identity) }}"
                      hx-include="closest form"
                      hx-target="#main-container"
                      hx-swap="outerHTML"
                      hx-vals='{"save": "Save and continue editing"}'>
                Save and continue editing
              </button>
              <button type="button" 
                      class="btn"
                      hx-post="{{ url_for('admin:create', identity=model_view.identity) }}"
                      hx-include="closest form"
                      hx-target="#main-container"
                      hx-swap="outerHTML"
                      hx-vals='{"save": "Save and add another"}'>
                Save and add another
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
